main{
    flex-grow: 1;
    display: flex;
}

.content-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.content-container h1{
    font-size: 7rem;
    display: flex;
    flex-direction: column;
}

.content-container span{
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(30px);
}

.movie-tittle{
    font-size: 2.6rem;
    font-style: italic;
    color:#E62721;
    transform: translateY(-20px);
}

.movie-text{
    color: white;
    font-size: 18px;
    margin-bottom: 30px;
}

.social-content{
    width: 48px;
}

.imagemimp{
    margin-top: 300px;
}

#imgcm{
    margin-bottom: 10px;;
}

.social-content img{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.butaozin{
    border-radius: 10px;
    padding: 20px 0;
    background-color: #E62721;
    width: 300px;
    margin-bottom: 40px;
}

.botao{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

@media (max-width:768px){
    .content-container{
        justify-content: flex-end;
        margin-bottom: 50px;
    }
    .content-container h1{
        font-size: 4rem;
    }
    .content-container h1 span{
        font-size: 1.5rem;
        transform: translateY(15px)
    }
    .movie-title{
        font-size: 1.45rem;
        transform: translateY(15px)
    }
    .movie-text{
        display: none;
    }
    .social-content{
        display: none;
    }
}