html, body{
    position: relative;
    overflow: hidden;
}

body{
    height: 100vh;
    background-image: linear-gradient(90deg, #000, #000D 35%, #0000), url(../img/miranha2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 50px 70px 50px 100px;
    animation: zoom 1.5s alternate;
}


@media (max-width:768px){
    body{
        padding: 30px 30px 25px 30px;
        background-image: url(../img/miranha2.png);
        background-color: #0006;
        background-blend-mode: darken;
    }
}

@keyframes zoom{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}



