footer{
    height: 21px;
    font-family: 'Roboto', sans-serif;
    display: block;
    justify-content: center;
    color: white;
    font-style: italic;
    margin: auto;
}

.botao1{
    border: 2px solid #07638C;
    border-radius: 7px;
    height: 30px;
    width: 330px;
    font-size: 18px;
    background-color: #07638C;
    color: white;
}

p{
    margin-left: 30px;
    margin-top: 10px;
}